h1 {
    color: palevioletred;
}

h3 {
    color: palevioletred;
}

p2 {
    color: palevioletred;
}

p2 {
    font-style:italic;
}

h1 { 
    font-family:'Times New Roman', Times, serif;
}

p2 { 
    font-family: 'Times New Roman', Times, serif;
}

h3 { 
    font-family: 'Times New Roman', Times, serif;
}

